@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

ul.social-network{
    list-style: none;
    padding: 0px;
}

ul.social-network li{
    display: inline;
    margin: 0px;
    padding: 5px;
}

.fa-brands{
    font-size: 35pt;
    color: white;
    padding: 10px;
}

.fa-github:hover{
    color: #313131;
}

.fa-instagram:hover{
    color: #c13584;
}

.fa-linkedin-in:hover{
    color: #0072b1;
}

.footer{
    background-image: linear-gradient(to right, #5C0031, #060E59);
    font-family: 'Ubuntu Mono', monospace;
}