@font-face {
    font-family: 'mario';
    src: url('fonts/Super Mario Bros. 2.ttf')format('opentype');
}
@font-face {
    font-family: 'pixelGame';
    src: url('fonts/PixelGameFont.ttf')format('opentype');
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.fs-16{
    font-size: 16pt;
}
.fs-11{
    font-size: 11pt;
}
a{
    cursor: pointer;
}

.navbar{
    background-image: linear-gradient(to right, #5C0031, #060E59);
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.507);
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
    color: white;
}