@font-face {
    font-family: 'mario';
    src: url('fonts/Super Mario Bros. 2.ttf')format('opentype');
}
@font-face {
    font-family: 'pixelGame';
    src: url('fonts/PixelGameFont.ttf')format('opentype');
}
@font-face {
    font-family: 'gamer';
    src: url('fonts/Gamer.ttf')format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.fs-54{
    font-size: 54pt;
}

.fs-18{
    font-size: 18pt
}

.img-capa{
    width: 500px;
    height: 500px;
}

.inicio{
    background-color: #0A0B1D;
    background-image: url('https://i.imgur.com/qJeP0ER.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-family: 'mario';
    color: #CA6773;
    /* color: #F4BB42; */
    text-shadow: 5px 5px 5px #420324;
}

h5{
    color: white;
    font-family: 'pixelGame';
    font-size: 50px;
    font-weight: bolder;
}

button{
    color: #1D171B;
    font-weight: bolder;
    background-color: white;
    border-color: #1D171B;
}

button, a{
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bolder;
}

.post{
    color: #1D171B;;
}

.fade{
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bolder;
    color: #1D171B;
}